.requestPage1 {
    background-color: rgba(0, 0, 0, 0.849);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


.requestHead {
    width: 100vw;
    text-align: center;
    font-family: 'Courgette', cursive;
    color: lightcyan;
    font-size: 50px;
    border: 2px dotted rgba(224, 255, 255, 0.616);
    padding: 15px;
}
