#wholePage {
    opacity: 0.90;
    background: url('./splashbkgd.png') left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 90vh;

}


.splashPage {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    min-height: 100%;
}


.welcome {
    display: flex;
    font-family: 'Courgette', cursive;
    font-size: xxx-large;
    margin-right: 15px;
}

.welcomeNav {
    text-decoration: none;
    padding: 5px;
    color: aliceblue;
    border: none;
    background-color: transparent;
    font-family: 'Courgette', cursive;
    font-size: x-large;

}

.welcomeNav:hover {
    text-shadow: 0px 0px 25px blue;
    cursor: pointer;
}

.links {
    color: aliceblue;
    text-align: center;
}

.windowCloseButton {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 2%;
    right: 2%;
}

.loginModal {
    display: inline-block;
    justify-content: center;
    align-content: center;
    border: 1px solid rgba(100, 106, 128, 0.493);
    border-radius: 5px;
    background-color: rgba(113, 115, 121, 0.616);
    padding: 10px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    width: 25%;
    height: fit-content;
    box-shadow: 0px 0px 2px 1px rgba(128, 128, 128, 0.596);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.fa-window-close {
    font-size: x-large;
}

.windowCloseButton:hover {
    cursor: pointer;
}
