#navProfilePic {
	color: white;
	opacity: 1;
	display: inline-block;
	font-weight: bold;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 2em;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 1px solid rgba(129, 127, 127, 0.699);
    object-fit: cover;
}

.profileButtonDiv {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
	align-content: right;
	padding: 0px;
}

.profileButtonDiv:hover {
    cursor: pointer;

}

#navProfilePic:hover {
    box-shadow: 0px 0px 3px 2px rgba(128, 128, 128, 0.849);
}

#profileNav {
    position: absolute;
    top: 125px;
    right: 25px;
    border: none;
    padding: 10px;
    font-size: larger;
    border-radius: 3px;
    background-color: rgb(35, 35, 36);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.541);



}

.navbarDropList {
    text-decoration: none;
    font-size: large;
    color: rgb(192, 241, 241);
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
}

.navbarDropList:hover {
    color: lightcyan;

}


.profile-dropdown {
    list-style: none;
    align-content: center;
    padding: 25px;
}


.profile-dropdown li {
    text-decoration: none;
	color: rgba(224, 255, 255, 0.616);
	font-size: larger;
	border: 1px solid rgba(0, 0, 0, 0.582);
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 5px;
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.425);
	font-family: "Dosis", sans-serif;
    margin: 10px 10px;
}

.profile-dropdown li:hover {
    box-shadow: 0px 0px 3px 2px rgba(128, 128, 128, 0.849);
}
