.logoutButton {
    padding: 10px;
    border-radius: 4px;
    margin: 5px;
    border: none;
    background-color: transparent;
    box-shadow: 0px 0px 3px 2px rgba(128, 128, 128, 0.356);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: rgba(255, 0, 0, 0.507);
    font-size: larger;
}

.logoutButton:hover {
    color: red;
    cursor: pointer;
    box-shadow: 0px 0px 3px 2px rgba(128, 128, 128, 0.658);
}
