.logoutButton {
    padding: 5px;
    border-radius: 4px;
    margin: 5px;
    border: none;
    background-color: transparent;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.425);
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    color: rgba(255, 0, 0, 0.507);
    font-size: larger;
    margin-right: 15px;
}

.logoutButton:hover {
    color: red;
    cursor: pointer;
    box-shadow: 0px 0px 3px 2px rgba(128, 128, 128, 0.658);
}

.signinInput {
    font-family: 'Dosis', sans-serif;
    background-color: rgba(128, 128, 128, 0.548);
    align-self: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: -50px;
    border: none;

}

.signupInput {
    font-family: 'Dosis', sans-serif;
    background-color: rgba(128, 128, 128, 0.548);
    align-self: center;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}

.signupInput::placeholder {
    color: lightcyan;
}

.signinInput::placeholder {
    color: lightcyan;
}


.signinForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signinElements {
    padding: 15px;
}

.inputLabel {
    margin-right: 5px;
}


#emailInput {
    margin-left: 18px;
}


.loginButton {
    border: none;
    border-radius: 5px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: large;
    padding: 5px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.452);
    margin: 10px;
    background-color: rgba(128, 128, 128, 0.61);
    width: fit-content;
}

.loginButton:hover {
    color: lightcyan;
    cursor: pointer;
    /* box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.452); */
    box-shadow: 0px 0px 3px 2px lightcyan;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
